.wd-profile-banner {
    height: 250px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.wd-profile-avator {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #fff;
    position: absolute;
    top: -60px;
    margin-left: 10px;
}

.wd-profile-name {
    margin-top: 20px;
    margin-left: 160px;
    font-size: 20px;
    font-weight: bold;
}

.wd-font-color-gray {
    color: rgb(110, 118, 125)
}

.wd-font-bold {
    font-weight: bold;
}

.wd-font-size-15 {
    font-size: 15px;
}

.wd-label-position {
    position: relative;
    top: 25px;
    left: 12px;
}